
h1{
    text-align: center;
}
h3{
    text-align: left;
 }
tr{
    text-align: left;
}
.lygl{
    text-align: left;
}

.myg{
    text-align: center;
}
.zv{
    color:red;
}
.tx{
    color: grey; font-size: small;
}